* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: beige;
}

.contenedor-principal {
    display: flex;
    justify-content: center;
}

.contenedor-vendedores {
    display: flex;
    flex-direction: column;
    background-color: #779ECB;
    margin-top: 10px;
    justify-content: center;
    width: 35%;
    height: 450px;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 30%);
    padding: 2rem;
}

.contenedor-campos {
    display: flex;
    flex-direction: row;
}

.contenedor-domicilio {
    display: flex;
    flex-direction: row;
}

.domicilio {
    display: flex;
}

.contenedor-campos {
    display: flex;
    flex-direction: column;
}

.contenedor-vendedores input {
    width: 50%;
    margin: 2%;
    height: 40%;
    border-radius: 0.50em;
    border-style: none;
    text-align: center;
    font-size: large;
}

.btnBuscar {
    margin: 5%;
    width: 25%;
    height: 50%;
    font-weight: bolder;
    cursor: pointer;
}
